@media all and (max-width: 480px) {
   .section{
       padding:5%;
   }
    .article{
    height: 600px;
    width: 350px;
    margin-left: 3px;
   }
    #sudime{
    font-size: 1em;
       height: 300px;
       width: 320px;
}
#header{
    background-size: 700px 1000px;
   
}
.me{
    width: 200px;
    flex-direction: column;
}
.myself{

}
.heading h1{
font-size: 1.5em;
}
.heading h2{
    font-size: 0.8em;
  
}
   
} 